# URL del backend API
# En desarrollo: http://127.0.0.1:8080
# En producción: https://tu-backend.railway.app
VITE_API_URL=http://127.0.0.1:8080

# Microservicio de alertas
VITE_ALERTAS_API_URL=http://127.0.0.1:8081

# Microservicio de reportes
VITE_REPORTES_API_URL=http://127.0.0.1:8082
